body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3{
    font-family: Arial, sans-serif;  
    margin-top: 24px;
}
h1{
    font-size: 32px; 
}
table, th,td{
    border-collapse: separate;
    border: 1px solid black;
}

figure{
    float: right;

}
figcaption{
    font-style: italic;
}